--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.7.1
torchvision
torchaudio==2.7.1
monai[pillow,pandas,scipy,matplotlib,mlflow,tqdm,tifffile,itk,tensorboard,ignite]

# notebook
ipykernel
ipywidgets
jupyter
ipympl
